* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Acme', sans-serif;
    background-color: #fef5ef;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAV */

.nav-bar {
    padding: 8px 16px;
    color: white;
    background-color: #9d5c63;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
}

.nav-bar_menu {
    display: flex;
    align-items: center;
}

.nav-bar .nav-bar_menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
  }

  .nav-bar .nav-bar_name {
    display: flex;
    align-items: center;
  }

  .nav-bar .nav-bar_name h1 {
    color: white;
    font-size: 22px;
  }

  .nav-bar .nav-bar_brand a{
    text-decoration: none;
    color: white;
    padding: 1.3em;
  }
  
  .nav-bar .nav-bar_navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background-color: white;
    overflow: hidden;
  }

  .nav-bar .nav-bar_navigation.open {
    left: 0;
  }

  .nav-bar .nav-bar_navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 1.3em;
    margin-bottom: 5px;
    width: 100%;
  }

  .hero {
    display: flex;
    align-items: center;
    min-height: 300px;
    width: 100%;
    text-align: center;
    background-image: url("../public/images/hero.jpg");
    background-position: center;
    background-color: grey;
    background-size: cover;
}

  .hero-inner {
    margin: 0 auto;
    max-width: 800px;
    color: black;
    background-color: white;
    opacity: 75%;
    border-radius: 8px;
    padding: 16px;
  }

  .hero_title {
    color: white;
    font-weight: 500;
    font-size: 36px;
  }

  /* Main */

  main {
    padding: 32px;
    flex: 1;
  }

  .getStarted {
    text-align: center;
    margin-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid black;
  }

  .Description {
    text-align: center;
    padding-top: 16px;
  }

  /* .content {
    margin: 0 auto;
    min-height: 100%;
  }

  .content .content__heading {
    font-weight: normal;
  } */

  /* Locations */

  /* .movies {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 32px 0;
  } */

  /* Location Item */

  /* .movie-item {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
  }
   
  .movie-item__header {
    position: relative;
  }
   
  .movie-item .movie-item__header .movie-item__header__poster {
    width: 100%;
  }
   
  .movie-item .movie-item__header .movie-item__header__rating {
    position: absolute;
    padding: 8px;
    bottom: 20px;
    left: 0;
    display: inline-block;
    background-color: black;
    color: white;
  }
   
  .movie-item .movie-item__header .movie-item__header__rating .movie-item__header__rating__score {
    margin-left: 10px;
  }
   
  .movie-item .movie-item__content {
    padding: 16px;
  }
   
  .movie-item .movie-item__content h3 {
    margin: 0 0 10px 0;
  }
   
  .movie-item .movie-item__content h3 a {
    color: #db0000;
    text-decoration: none;
  }
   
  .movie-item .movie-item__content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;  number of lines to show
    -webkit-box-orient: vertical;
  } */

  /* Location */

  /* .movie {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px 16px;
  }
   
  .movie .movie__poster {
    width: 100%;
    max-width: 400px;
  }
   
  .movie .movie__info h4 {
    margin: 8px 0;
  } */

  /* Footer */

  footer {
    padding: 16px;
    background-color: #9d5c63;
  }
   
  footer p {
    text-align: center;
    color: white;
  }
   
  /* footer p a {
    color: #db0000;
    text-decoration: none;
  } */