* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Acme', sans-serif;
    background-color: #fef5ef;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAV */

.nav-bar {
    padding: 8px 16px;
    color: black;
    background-color: #d6e3f8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
}

.nav-bar_menu {
    display: flex;
    align-items: center;
}

.nav-bar .nav-bar_menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
  }

  .nav-bar .nav-bar_name {
    display: flex;
    align-items: center;
  }

  .nav-bar .nav-bar_name .logo {
    margin-right: 10px;
  }

  .nav-bar .nav-bar_name h1 {
    color: black;
    font-size: 22px;
  }

  .nav-bar .nav-bar_brand a{
    text-decoration: none;
    color: black;
    padding: 1.3em;
  }
  
  .nav-bar .nav-bar_navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background-color: white;
    overflow: hidden;
  }

  .nav-bar .nav-bar_navigation.open {
    left: 0;
  }

  .nav-bar .nav-bar_navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 1.3em;
    margin-bottom: 5px;
    width: 100%;
  }

  .hero {
    display: flex;
    align-items: center;
    min-height: 300px;
    width: 100%;
    text-align: center;
    background-image: url("../public/images/hero.jpg");
    background-position: center;
    background-color: grey;
    background-size: cover;
}

  .hero-inner {
    margin: 0 auto;
    color: black;
    height: 200px;
    width: 800px;
    background-color: white;
    border-radius: 8px;
    opacity: 75%;
  }

  .hero-inner h1 {
    margin-top: 10%;
  }

  .hero_title {
    color: white;
    font-weight: 500;
    font-size: 36px;
    margin-top: 100px;
  }

  /* Main */

  main {
    padding: 32px;
    flex: 1;
  }

  #query {
    padding: 1.3em;
  }

  .getStarted {
    text-align: center;
    margin-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid black;
  }

  .Description {
    text-align: center;
    padding-top: 16px;
  }

  .findLocation {
    text-align: center;
    margin-top: 36px;
  }

  .findLocationBtn {
    border-radius: 18px;
    background-color: #e4bb97;
    width: auto;
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 1.3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .content {
    margin: 0 auto;
    min-height: 100%;
    padding-top: 36px;
  }

  .content .content-heading {
    font-weight: bolder;
    text-align: center;
    margin-top: 16px;
    width: auto;
    background-color: #fef5ef;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .locations {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 32px 0;
  }

  .location-item {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    background-color: #d6e3f8;
  }

  .location-item-header {
    position: relative;
  }

  .location-item .location-item-header .location-item-header-rating {
    /* position: absolute;
    padding: 8px;
    top: 15px;
    width: 75px;
    left: 0;
    display: inline-block;
    background-color: black;
    color: white;
    font-weight: bolder; */
  }

  /* Footer */

  footer {
    padding: 16px;
    background-color: #d6e3f8;
  }
   
  footer p {
    text-align: center;
    color: black;
  }
   
  /* footer p a {
    color: #db0000;
    text-decoration: none;
  } */