<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find hidden gem locations here!">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#d6e3f8"/>
    <!-- favicon -->
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Dosis:wght@300&family=Hubballi&family=League+Gothic&family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <title>GemFinder</title>
</head>
<body>
    <header class="nav-bar">
        <div class="nav-bar_menu">
            <button id="hamburgerBtn">☰</button>
        </div>
        <div class="nav-bar_name">
            <img class="logo" src="images/logo.png" alt="GemFinder Logo" width="25px">
            <h1>GemFinder</h1>
        </div>
        <nav id="navDrawer" class="nav-bar_navigation">
            <ul>
                <li><a href="#/">Home</a></li>
                <li><a href="#/wishlist">Wishlist</a></li>
                <li><a href="#/location">Location</a></li>
            </ul>
        </nav>
    </header>
    <div class="hero">
        <div class="hero-inner">
            <h1 class="hero-title">Cari Lokasi Hidden Gem Dengan GemFinder</h1>
        </div>
    </div>
    <main id="mainContent">
        <h1>GEMFINDER</h1>
    </main>
    <footer>
        <p>GemFinder</p> 
        <!-- kasih source API -->
    </footer>
</body>
</html>