<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free movie catalogue for you">
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#028075"/>
    <link rel="apple-touch-icon" href="/icons/192x192.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css"
      crossorigin="anonymous"
    />
    <script
      src="https://use.fontawesome.com/b070c8f1df.js"
      crossorigin="anonymous"
    ></script>
    <title>Capstone Project</title>
</head>
<body>
  <a href="#Maincontent" class="skip-link">Menuju Ke Konten</a>

    <header class="app-bar">
        <div class="app-bar__menu">
          <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
          <h1>GEMFINDER</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
          <ul>
                <li><a href="#/">Home</a></li>
                <li><a href="#/wishlist">Wishlist</a></li>
                <li><a href="#/location">Location</a></li>
                <li><a href="https://www.linkedin.com/in/indra-setiawan-b2009822b/" target="_blank" rel="noopener">About Us</a></li>
          </ul>
        </nav>
      </header>
      <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">GEMFINDER Apps</h1>
            <h1 class="hero__title">Tentukan Pilihan Destinasimu Sekarang!!</h1>
            <p class="hero__tagline">Jadikan Momen Liburan Santai Nyaman Bersama Keluarga Di Tempat Destinasi Pilihanmu</p>
        </div>
    </div>
      <main id="Maincontent">
        <div class="livefyre-carousel-sg aem-GridColumn aem-GridColumn--default--12">


	
          <section class="instagram-section-revamp my-5 py-4">
              <div class="container">
                  
              </div>
          </section>
        </div>
      </main>
  <footer-comp></footer-comp>
</body>
</html>
