* {
    padding: 0;
    margin: 0;
  }
   
  body {
    font-family: Georgia, Arial, sans-serif;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
   
  /*
    AppBar
  */
   
  .app-bar {
    padding: 8px 16px;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
   
  .app-bar .app-bar__menu {
    display: flex;
    align-items: center;
  }
   
  .app-bar .app-bar__menu button {
    background-color: white;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
  }
   
  .app-bar .app-bar__brand {
    display: flex;
    align-items: center;
  }
   
  .app-bar .app-bar__brand h1 {
    color: #db0000;
    font-size: 22px;
    user-select: none;
  }
   
  .app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background-color: transparent;
    overflow: hidden;
  }
   
  .app-bar .app-bar__navigation.open {
    left: 0;
  }
   
  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px;
    margin-bottom: 5px;
    width: 100%;
  }
  .app-bar .app-bar__navigation ul li a:hover{
    color: #db0000;
  }

  /* 
    Hero
  */

  .hero {
    display: block;
    min-height: 380px;
    width: 95%;
    text-align: center;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border: 3px solid #db0000;
  }
  .hero__title {
      margin-top: 150px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      text-shadow: 0 2px 7px #000;
  }
  .hero__tagline {
      color: #fff;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 300;
  }

  a.btn {
    padding: 15.5px 33px;
  }
  .btn {
      background-color: aliceblue;
      border-radius: 20px;
      transition: 0.1s;
      font-weight: 600;
  }
  .btn:hover {
      padding: 13.5px 31px;
      transition: 0.1s;
  }
  a.btn {
      color: black;
      text-decoration: none;
  }
  .empty{
    margin-bottom: 400px;
  }
   
  /*
    Main Content
  */
   
  main {
    padding: 32px;
    flex: 1;
  }
  main h2{
    text-align: center;
  }
  main .hero{
    padding: 0;
  }
   
  .content {
    margin: 0 auto;
    width: 85%;
    padding: 32px;
    padding-bottom: 0;
    min-height: 100%;
  }
   
  .content .content__heading {
    text-align: center;
    font-weight: normal;
  }
   
   
  /*
    Venues
  */
   
  .venue-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 32px 0;
  }
   
   
  /*
    Venue Item
  */
   
  .venue-item {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .venue-item:hover {
      box-shadow: 0 2px 8px 2px rgba(181, 180, 184, 0.9);
  }

  .venue-item__header {
      position: relative;
  }
  .venue-item .venue-item__header .venue-item__header__poster {
      width: 100%;
  }

  .venue-item__content {
      padding: 16px;
  }
  .venue-item__title {
      font-weight: 500;
      font-size: 16px;
      margin-top: 5px;
      padding: 5px 0;
      transition: 0.3s opacity;
  }
  .venue-item__title > a {
      text-decoration: none;
      color: inherit;
      padding: 13.5px 0;
  }
  .venue-item__title > a:hover{
      color: #db0000;
  }
  .venue-item__description {
      margin-top: 16px;
      font-size: 12px;
      line-height: 1.5em;
  }
  
  .venue-item .venue-item__content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
   
   
  /*
    venue
  */
   
  .venue {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px 16px;
  }
   
  .venue .venue__poster {
    width: 100%;
    max-width: 400px;
  }
   
  .venue .venue__info h4 {
    margin: 8px 0;
  }
   
   
  /*
    Like
  */
  .like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
   
  /*
    Footer
  */
   
  footer {
    margin-top: -35px;
    padding: 16px;
  }
   
  footer p {
    text-align: center;
    color: #aaaaaa;
  }
   
  footer p a {
    color: #db0000;
    text-decoration: none;
  }